main {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #ffeefc),
    url("https://v0.dev/v0-background.svg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  main {
    background: linear-gradient(
      135deg,
      #e0f7fa,
      #ffeefc
    ); /* Eliminamos el SVG */
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
  }
}

button {
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

@keyframes openChat {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.03);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes expandHeight {
  0% {
    height: 15px;
    transform: scaleY(1);
  }
  20% {
    height: 40px;
    transform: scaleY(1.1);
  }
  40% {
    height: 60px;
    transform: scaleY(1);
  }
  60% {
    height: 80px;
    transform: scaleY(1.1);
  }
  80% {
    height: 60px;
    transform: scaleY(1);
  }
  100% {
    height: 90px;
    transform: scaleY(1);
  }
}

@keyframes pulse {
  0% {
    background-color: #e0e0e0;
  }
  50% {
    background-color: #c0c0c0;
  }
  100% {
    background-color: #e0e0e0;
  }
}

.bg-button {
  background-color: #7a69fe;
}

.bg-suggestions {
  background-color: #f6feff;
}

.bg-gray-400 {
  background-color: #d7d4d4; /* Color de fondo para el botón deshabilitado */
}

.cursor-not-allowed {
  cursor: not-allowed; /* Cambia el cursor cuando el botón está deshabilitado */
}

.open-animation {
  animation: openChat 0.2s ease-in-out forwards;
  animation-delay: 0s;
}

.heartbeat-animation {
  animation: heartbeat 1s ease-in-out infinite;
}

.expand-height-animation {
  animation-iteration-count: infinite;
  animation: expandHeight 5s ease-in-out forwards;
}

.relative .flex {
  width: 100%;
}

.relative input {
  border-start-start-radius: 10px;
  border-right: none;
}

.loaded-products-container {
  border-top: none;
  border-bottom: none;
  margin-bottom: 50px;
}

.placeholder-card {
  background-color: #e0e0e0;
  border-radius: 4px;
  height: 150px;
  width: 100%;
  animation: pulse 1.5s infinite;
}

.z-index-form {
  z-index: 9999999;
}

.form-container-width {
  min-width: 55%;
}

@media (max-width: 1280px) {
  .form-container-width {
    width: 75%;
    max-width: 75%;
  }
}

@media (max-width: 1000px) {
  .form-container-width {
    width: 100%;
    max-width: 100%;
  }
}

div#loaded-products-container {
  background-color: transparent;
}

.cards-container-block.mt-10.grid.grid-cols-1.md\:grid-cols-2.gap-6 {
  display: block;
}

/* Clase base para la transición y la transformación inicial */
.transform-main {
  transform: translateX(16em);
  transition: transform 0.1s ease-in-out;
  overflow-x: hidden;
  width: calc(100% - 16em);
}

/* Estilo para dispositivos móviles */
@media (max-width: 768px) {
  .transform-main {
    transform: translateX(-16em);
    transition: transform 0.1s ease-in-out;
    overflow-x: hidden;
  }
}

.bg-cards {
  background-color: #eaf2f4;
}
