<!-- Producto -->
<div class="border-container">
  <div
    class="a-section a-spacing-none puis-status-badge-container aok-relative s-grid-status-badge-container-mvt-2"
  >
    <span class="a-badge-label hidden">Más vendido</span>
  </div>
  <a href="https://amzn.to/3ArgdcF" class="p-4" target="_blank">
    <img
      src="https://m.media-amazon.com/images/I/81Db19fh2jL._AC_SX425_.jpg"
      alt="Producto"
    />
  </a>
  <h2>
    Cesta de Cuerda de Algodón para la Colada con Tapa 32L Cestas de Lavandería
  </h2>
  <p>
    Cesta de Cuerda Natural Artesanal: Hecha de material de algodón orgánico de alta calidad, tejida a mano en espiral. Tacto suave, sin productos químicos, amigable con niños y mascotas.
  </p>
  <div class="mt-2 flex items-center">
    <span>⭐⭐⭐⭐⭐</span>
    <span class="ml-2">4.6/5</span>
  </div>
  <div class="a-row a-size-base a-color-secondary hidden">
    100+ comprados el mes pasado
  </div>
  <div class="mt-4 flex space-x-4">
    <a href="https://amzn.to/3ArgdcF" target="_blank">Ir a Amazon</a>
  </div>
</div>
