<div
  class="nav-container fixed top-0 w-full border-b border-gray-200 bg-white/50 backdrop-blur-xl z-30 transition-all"
>
  <div
    class="mx-5 flex h-16 max-w-screen-xl items-center justify-between xl:mx-auto"
  >
    <!-- Logo -->
    <a
      class="flex items-center font-display text-2xl"
      [routerLink]="['/']"
      routerLinkActive="router-link-active"
    >
      <h1
        class="hidden bg-gradient-to-br from-black to-stone-500 bg-clip-text text-center font-display text-2xl font-bold tracking-[0.02em] text-transparent drop-shadow-sm md:text-2xl p-2 md:p-4"
      >
        ¡Un buscador para encontrarlos a todos!
      </h1>
    </a>
    <a class="fixed right-10 bg-gray-200 p-4 py-0.5 rounded-lg">public beta</a>
    <!-- Menú de Usuario -->
    <div class="flex items-center">
      <div *ngIf="isLoggedIn" class="relative">
        <!-- Botón de Menú -->
        <button
          id="userMenu"
          aria-haspopup="true"
          aria-expanded="false"
          class="relative flex items-center justify-center h-10 w-10 rounded-full overflow-hidden focus:outline-none"
          (click)="toggleUserMenu()"
        >
          <img
            class="h-full w-full object-cover"
            alt="user profile picture"
            width="40"
            height="40"
            [src]="profileImage"
          />
        </button>

        <!-- Menú Desplegable -->
        <div
          *ngIf="isUserMenuOpen"
          id="userMenuDropdown"
          class="absolute right-0 mt-2 w-56 bg-white border border-gray-200 rounded-lg shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-10 hidden md:block"
        >
          <!-- Información del Usuario -->
          <div class="px-4 py-3 border-b border-gray-200">
            <p class="text-sm font-semibold text-gray-800">{{ fullName }}</p>
            <p class="text-xs text-gray-600">{{ email }}</p>
          </div>

          <!-- Opciones del Menú -->
          <a
            [routerLink]="['/home']"
            routerLinkActive="router-link-active"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
            role="menuitem"
          >
            Inicio
          </a>
          <a
            [routerLink]="['/profile']"
            routerLinkActive="router-link-active"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
            role="menuitem"
          >
            Clave API
          </a>
          <a
            [routerLink]="['/manifest']"
            routerLinkActive="router-link-active"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 transition-colors duration-200"
            role="menuitem"
          >
            Manifiesto
          </a>
          <a
            routerLinkActive="router-link-active"
            class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer transition-colors duration-200"
            role="menuitem"
          >
            Cerrar Sesión
          </a>
        </div>
      </div>

      <!-- Saludo al Usuario -->
      <p
        (click)="toggleUserMenu()"
        class="relative text-2xl font-bold cursor-pointer"
      >
        <span *ngIf="isLoggedIn" class="ml-2 gradient-text-animation text-3x"
          >Hola, {{ username }}!</span
        >
      </p>
    </div>

    <!-- Botón de Login -->
    <div *ngIf="!isLoggedIn" class="ml-4 hidden">
      <a
        [routerLink]="['/login']"
        routerLinkActive="router-link-active"
        class="text-sm text-gray-700 bg-secondary text-secondary-foreground px-4 py-2 rounded-full border transition-all hover:scale-105 active:scale-95 hover:bg-black hover:text-white"
        style="height: 2.5rem; line-height: 2.5rem"
      >
        Login
      </a>
    </div>
  </div>
</div>
