/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Exo 2", sans-serif;
  background: linear-gradient(135deg, #e0f7fa, #ffeefc),
    /* Gradiente de fondo */ url("https://v0.dev/v0-background.svg"); /* Imagen SVG sobre el gradiente */
  background-attachment: fixed; /* La imagen y el gradiente permanecen fijos */
  background-size: cover; /* Ajusta el tamaño de la imagen para cubrir todo el área */
  background-position: center center; /* Centra la imagen y el gradiente */
  background-repeat: no-repeat; /* Evita que la imagen y el gradiente se repitan */
  background-blend-mode: multiply; /* Mezcla el gradiente y la imagen */
}
